form {
    border: 1px solid #CCC;
    width: 260px;
}

form table {
    width: 100%;
}

h3 {
    font-weight: bold;
    background-color: #ccc;
    text-align: center;
    margin: 0;
}
form input[type=text], input[type=email] {
	background-color: #0B2035;
	color: #fff;
}
fieldset legend {
	background-color: #ccc;
	border: 2px solid blue;
}
.btns {
	text-align: center;
}
.btns input {
	text-align: center;
	text-transform: uppercase;
	background-color: #0B2035;
	color: #fff;
}