table, table td {
    border: 1px solid #000;
    border-collapse: collapse;
}

table {
    width: 250px;
}

h1 {
	font-family: Arial;
	text-align: center;
	color: blue;
}
h3 {
	font-family: "Times New Roman";
	text-align: left;
	color: red;
	text-decoration: underline;
}
p {
	font-family: Courier;
	text-indent: .5cm;
}
body {
	background-color: #CCC;
}
ol {
	font: 14px "Times New Roman";
}
a {
	color: blue;
}
a:hover {
	background-color: #FF0000;
}