body {
	font: 14pt Thaoma;
	background: url("bg.jpg") repeat;
}
table {
	margin: 50px 100px;
	border-top: 6px dotted red;
	height: 200px;
	background-color: brown;
}
table td {
	padding: 20px;
	height: 50px;
	border-top: 3px groove green;
}
.img1 {
	height: 150px;
	width: 150px;
	float: right;
}
.img2 {
	height: 50px;
	width: 50px;
	float: left;
}
ul li {
	list-style-image: url("item.png");
}