body {
	font: italic 12pt Garamond;
	background: #CDCDCD;
}
.titlu {
	font-family: Times New Roman;
	font-variant: small-caps;
	text-decoration: underline;
}
body > ol > li {
	font-family: Arial;
	font-variant: small-caps;
	font-weight: bold;
	font-size: larger;
	color: red;
	background: navy;
}
ol ol, ol ul {
	font-family: Verdana;
	word-spacing: 1em;
	letter-spacing: .3em;
	text-indent: 2em;
}