table {
    background-color: #CCCCCC;
    border: 2px dotted #717171;
}

table thead tr th {
    font-weight: bold;
    font-style: italic;
}

table tbody tr td {
    border: 3px solid blue;
    font-style: italic;
    width: 50px;
    height: 10px;
}

p:hover {
    font-style: italic;
    color: blue;
}