* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1 {
    font-family: Segoe UI;
    text-align: center;
    border-bottom: 1px solid #000;
    color: #2c3e50;
}
body {
    background-image: url("../img/bg.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    .container {
        padding: 20px;
        background-color: rgba(#ecf0f1, .8);
        box-shadow: 0 0 50px rgba(#FFF, .5);
        width: 100%;
        margin: 20px auto;
        .f-control {
            display: block;
            &.inline {
                width: calc(50% - 2px);
                display: inline-block;
                &.i1 {
                    width: calc(75% - 2px);
                }
                &.i2 {
                    width: calc(25% - 2px);
                }
            }
            &.half {
                width: 100%;
                display: inline-block;
            }
            table {
                font: 16px Segoe UI;
                padding-left: 10px;
                td:first-child {
                    padding: 0 10px;
                }
            }
            label {
                color: #2c3e50;
                &:not(.sub) {
                    padding-left: 5px;
                    margin-top: 10px;
                    font: 20px Segoe UI;
                    display: block;
                }
            }
            input, select {
                &:not([type="checkbox"]) {
                    $height: 40px;
                    width: 100%;
                    height: $height;
                    font: 18px Segoe UI;
                    line-height: $height;
                    padding: 0 10px;
                    outline: 0;
                    border: 1px solid #34495e;
                    background-color: rgba(#FFF, .5);
                    transition: all .2s;
                    &:focus {
                        box-shadow: 0 0 3px #3498db;
                        border-color: #2980b9;
                    }
                    &:valid {
                        // box-shadow: none;
                    }
                    &:invalid {
                        box-shadow: 0 0 3px #e74c3c;
                        border-color: #c0392b;
                    }
                }
                &.btn {
                    margin-top: 10px;
                    color: #FFF;
                    font-size: 20px;
                    line-height: 1;
                    vertical-align: top;
                    outline: none;
                    position: relative;
                    width: 100%;
                    height: 60px;
                    padding: 0;
                    color: white;
                    text-align: center;
                    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
                    border: 0;
                    cursor: pointer;
                    font-size: 22px;
                    &.primary {
                        background: #3498db;
                        border-bottom: 2px solid #2a8bcc;
                        -webkit-box-shadow: inset 0 -2px #2a8bcc;
                        box-shadow: inset 0 -2px #2a8bcc;
                    }
                    &.default {
                        background-color: #7f8c8d;
                        border-bottom: 2px solid #6F7A7B;
                        -webkit-box-shadow: inset 0 -2px #6F7A7B;
                        box-shadow: inset 0 -2px #6F7A7B;
                    }
                    &:active {
                        top: 1px;
                        -webkit-box-shadow: none;
                        box-shadow: none;
                    }
                }
                &[type=email] {
                    background-image: url("../img/email.svg");
                    background-repeat: no-repeat;
                    background-position: -40px center;
                    background-size: auto 75%;
                    transition: all .2s;
                    &:focus {
                        padding-left: 45px;
                        background-position: 8px center;
                    }
                }
            }
            &.f-3 {
                select {
                    width: 100%;
                    margin: 5px 0;
                }
            }
            input[type=checkbox] {
                padding: 0 10px;
            }
        }
        &.result {
            width: 600px;
            table {
                width: 100%;
                border-collapse: collapse;
                tr {
                    transition: all .2s;
                    &:nth-child(odd) {
                        background-color: #BCCBCD;
                    }
                    td {
                        padding: 10px;
                        font: 18px Segoe UI;
                        .error {
                            color: #c0392b;
                        }
                    }
                }
            }
            form {
                margin-top: 20px;
                .f-control {}
            }
        }
    }
}
@media all and (min-width: 700px) {
    .container {
        width: 600px !important;
        .f-control {
            &.half {
                width: calc(50% - 2px) !important;
            }
            &.f-3 {
                select {
                    width: 32.86% !important;
                }
            }
        }
    }
}

