* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

h1 {
  font-family: Segoe UI;
  text-align: center;
  border-bottom: 1px solid #000;
  color: #2c3e50; }

body {
  background-image: url("../img/bg.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  body .container {
    padding: 20px;
    background-color: rgba(236, 240, 241, 0.8);
    box-shadow: 0 0 50px rgba(255, 255, 255, 0.5);
    width: 100%;
    margin: 20px auto; }
    body .container .f-control {
      display: block; }
      body .container .f-control.inline {
        width: calc(50% - 2px);
        display: inline-block; }
        body .container .f-control.inline.i1 {
          width: calc(75% - 2px); }
        body .container .f-control.inline.i2 {
          width: calc(25% - 2px); }
      body .container .f-control.half {
        width: 100%;
        display: inline-block; }
      body .container .f-control table {
        font: 16px Segoe UI;
        padding-left: 10px; }
        body .container .f-control table td:first-child {
          padding: 0 10px; }
      body .container .f-control label {
        color: #2c3e50; }
        body .container .f-control label:not(.sub) {
          padding-left: 5px;
          margin-top: 10px;
          font: 20px Segoe UI;
          display: block; }
      body .container .f-control input:not([type="checkbox"]), body .container .f-control select:not([type="checkbox"]) {
        width: 100%;
        height: 40px;
        font: 18px Segoe UI;
        line-height: 40px;
        padding: 0 10px;
        outline: 0;
        border: 1px solid #34495e;
        background-color: rgba(255, 255, 255, 0.5);
        transition: all .2s; }
        body .container .f-control input:not([type="checkbox"]):focus, body .container .f-control select:not([type="checkbox"]):focus {
          box-shadow: 0 0 3px #3498db;
          border-color: #2980b9; }
        body .container .f-control input:not([type="checkbox"]):invalid, body .container .f-control select:not([type="checkbox"]):invalid {
          box-shadow: 0 0 3px #e74c3c;
          border-color: #c0392b; }
      body .container .f-control input.btn, body .container .f-control select.btn {
        margin-top: 10px;
        color: #FFF;
        font-size: 20px;
        line-height: 1;
        vertical-align: top;
        outline: none;
        position: relative;
        width: 100%;
        height: 60px;
        padding: 0;
        color: white;
        text-align: center;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
        border: 0;
        cursor: pointer;
        font-size: 22px; }
        body .container .f-control input.btn.primary, body .container .f-control select.btn.primary {
          background: #3498db;
          border-bottom: 2px solid #2a8bcc;
          -webkit-box-shadow: inset 0 -2px #2a8bcc;
          box-shadow: inset 0 -2px #2a8bcc; }
        body .container .f-control input.btn.default, body .container .f-control select.btn.default {
          background-color: #7f8c8d;
          border-bottom: 2px solid #6F7A7B;
          -webkit-box-shadow: inset 0 -2px #6F7A7B;
          box-shadow: inset 0 -2px #6F7A7B; }
        body .container .f-control input.btn:active, body .container .f-control select.btn:active {
          top: 1px;
          -webkit-box-shadow: none;
          box-shadow: none; }
      body .container .f-control input[type=email], body .container .f-control select[type=email] {
        background-image: url("../img/email.svg");
        background-repeat: no-repeat;
        background-position: -40px center;
        background-size: auto 75%;
        transition: all .2s; }
        body .container .f-control input[type=email]:focus, body .container .f-control select[type=email]:focus {
          padding-left: 45px;
          background-position: 8px center; }
      body .container .f-control.f-3 select {
        width: 100%;
        margin: 5px 0; }
      body .container .f-control input[type=checkbox] {
        padding: 0 10px; }
    body .container.result {
      width: 600px; }
      body .container.result table {
        width: 100%;
        border-collapse: collapse; }
        body .container.result table tr {
          transition: all .2s; }
          body .container.result table tr:nth-child(odd) {
            background-color: #BCCBCD; }
          body .container.result table tr td {
            padding: 10px;
            font: 18px Segoe UI; }
            body .container.result table tr td .error {
              color: #c0392b; }
      body .container.result form {
        margin-top: 20px; }

@media all and (min-width: 700px) {
  .container {
    width: 600px !important; }
    .container .f-control.half {
      width: calc(50% - 2px) !important; }
    .container .f-control.f-3 select {
      width: 32.86% !important; } }

/*# sourceMappingURL=mag.css.map */
