body {
    background: darken(#BDE8FD, 15)
}

* {
    margin: 0;
    padding: 0;
}

#calculator {
    $btnZ: 100px;
    $col1: #E9EBEC;
    $col2: #E11744;
    $col3: #262423;
    width: $btnZ * 4;
    margin: $btnZ auto;
    .row {
        input {
            margin: 0 -4px 0 0;
            outline: none;
            border: none;
            font: bold 35px 'Courier New';
            transition: background .1s;
            &[type=button] {
                width: $btnZ;
                height: $btnZ;
                &.two {
                    width: $btnZ * 2;
                }
                &.special {
                    background: $col3;
                    color: #FFF;
                    &.one {
                        border-bottom: 2px solid darken($col3, 5);
                    }
                    &:hover {
                        background: darken($col3, 5)
                    }
                    &:active {
                        background: darken($col3, 10)
                    }
                }
                &.number {
                    background: $col1;
                    &:hover {
                        background: darken($col1, 5)
                    }
                    &:active {
                        background: darken($col1, 10)
                    }
                    border-bottom: 2px solid darken($col1, 5);
                }
                &.operator {
                    background: $col2;
                    border-bottom: 2px solid darken($col2, 5);
                    &:hover {
                        background: darken($col2, 5)
                    }
                    &:active {
                        background: darken($col2, 10)
                    }
                }
            }
            &[type=text] {
                background: #262423;
                width: $btnZ * 3;
                height: $btnZ;
                color: #FFF;
                padding: 0 20px;
                box-sizing: border-box;
                &:hover {
                    background: darken($col3, 5)
                }
            }
        }
    }
}
