input[type=text], input[type=number], input[type=email] {
	width: 200px;
	height: 30px
}
label {
	font-size: 20px;
}
form {
	width: 240px;
	margin: auto;
	background-color: #fff;
	padding: 20px
}
body {
	background-color: #bdc3c7;
}
.b {
	width: 49%;
	background-color: #27ae60;
	color: #FFF;
	font-size: 18px;
	padding: 10px
}