* {
    margin: 0;
}

table td {
    text-align: center;
    width: 40px;
    height: 35px;
    font-size: 18px;
}

table, td {
    border: 1px solid #000;
    border-collapse: collapse;
    margin: auto;
    cursor: pointer;
}

table td.bold {
    font-weight: bold;
    font-size: 19px;
}

h1 {
    font-weight: bold;
    text-align: center;
    font-size: 50px;
    font-family: Arial;
    margin-bottom: 10px;
}

h2 {
    text-align: center;
}

table td.color {
    background-color: #E54848;
}

table td.color2 {
    background-color: #8E6FE7;
}