@import url("fonts.css");
$input-size: 17px;
$bg-df: rgba(#fff, .9);
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font: 15px 'Open Sans', sans-serif;
}
.bg-df {
    background: $bg-df;
}
body {
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    .error {
        color: #FFF;
        font-style: italic;
        font-size: 13px;
        i {
            // padding-left: 5px;
            padding-right: 5px;
            font-size: 20px;
        }
    }
    &.bg-red {
        background-image: url("../img/bg-red.jpg");
    }
    &.bg-flat {
        background-image: url("../img/bg-flat.png");
    }
    .container {
        // box-shadow: 0px 0px 20px rgba(0, 0, 0, .3);
        padding: 40px;
        display: block;
        margin: 40px auto;
        min-height: 200px;
        width: 700px;
        &.large {
            // margin-top: 40px;
            padding-bottom: 10px;
            width: 1200px;
        }
        &.tabs {
            &:after {
                content: '';
                display: table;
                clear: both;
            }
            #tab1:checked ~ #tab-content1, #tab2:checked ~ #tab-content2 {
                display: block;
            }
            input[type=radio][id^="tab"]:checked + label {
                box-shadow: none;
                background: darken(#16a085, 10);
            }
            input[type=radio] {
                display: none;
            }
            .tab-content {
                background-color: #ecf0f1;
                padding-top: 28px;
                display: none;
                width: 100%;
                float: left;
                box-sizing: border-box;
            }
            label.tab-header {
                display: block;
                float: left;
                width: 50%;
                text-align: center;
                cursor: pointer;
                display: block;
                padding: 10px 30px;
                font-size: 25px;
                font-weight: 300;
                color: #fff;
                box-shadow: inset 0 0 5px -2px #000;
                background: darken(#16a085, 15);
                i {
                    padding: 5px;
                    margin-right: 0;
                }
            }
        }
        h1 {}
        form {
            color: #666;
            font: 13px/1.55 "Open Sans", Helvetica, Arial, sans-serif;
            h1 {
                display: block;
                float: left;
                width: 50%;
                text-align: center;
                cursor: pointer;
                display: block;
                padding: 10px 30px;
                font-size: 25px;
                font-weight: 300;
                color: #fff;
                box-shadow: none;
                background: darken(#16a085, 10);
            }
            &.inputs {
                h1 {
                    margin-bottom: 30px;
                }
            }
            &.table {
                padding: 0;
                .form-fieldset {
                    &.form-footer {
                        margin-top: -28px;
                    }
                }
            }
            .form-fieldset {
                padding: 0 30px;
                &.form-footer {
                    // margin-top: -28px;
                    padding: 25px 30px 60px;
                    border-top: 1px solid rgba(0, 0, 0, .1);
                    background: darken(#16a085, 10);
                    .form-group {
                        margin: 0;
                        .btn {
                            float: right;
                        }
                    }
                }
                &.col-2 {
                    .form-group {
                        display: inline-block;
                        width: calc(50% - 16px);
                        &:first-child {
                            margin-right: 28px;
                        }
                        .input, .select {
                            select {
                                float: right;
                            }
                        }
                    }
                }
                &.col-3 {
                    &.special {
                        .form-group {
                            width: 25%;
                            margin-right: 14px;
                            &.middle {
                                width: 40%;
                            }
                        }
                    }
                    .form-group {
                        display: inline-block;
                        width: calc(33.3333% - 21px);
                        margin-right: 28px;
                        &:last-child {
                            margin-right: 0;
                        }
                        .input, .select {
                            select {
                                float: right;
                            }
                        }
                    }
                    &.multi {
                        .form-group {
                            margin-right: 18px;
                            &:last-child {
                                margin-right: 0;
                            }
                        }
                    }
                }
                .form-group {
                    margin-bottom: 20px;
                    .btn {
                        background-color: lighten(#16a085, 5);
                        // opacity: .8;
                        transition: opacity .2s ease 0s;
                        // float: right;
                        height: 39px;
                        overflow: hidden;
                        margin: 0 0 0 20px;
                        padding: 0 25px;
                        outline: none;
                        border: none;
                        font: 300 15px/39px "Open Sans", Helvetica, Arial, sans-serif;
                        text-decoration: none;
                        color: #FFF;
                        cursor: pointer;
                        &.btn-second {
                            background-color: #7f8c8d;
                        }
                        &.btn-first:disabled {
                            cursor: not-allowed;
                            opacity: .7;
                        }
                    }
                    .text {
                        font: $input-size + /19px "Open Sans", Helvetica, Arial, sans-serif;
                    }
                    .checkbox {
                        color: #232323;
                        font: $input-size + /19px "Open Sans", Helvetica, Arial, sans-serif;
                    }
                    .input, .select {
                        position: relative;
                        display: block;
                        &:hover {
                            input, select {
                                border-color: #8dc9e5;
                            }
                        }
                        i {
                            &.fa {
                                color: #CCC;
                                border-left: 1px solid #E5E5E5;
                                right: 5px;
                                font-size: 16px;
                                padding: 5px 9px;
                                position: absolute;
                                top: 6px;
                                &.fa-envelope {
                                    padding: 5px 6px 5px 9px;
                                }
                            }
                        }
                        input, select {
                            border: none;
                            box-shadow: 0px 0px 5px rgba(0, 0, 0, .3);
                            transition: border-color .3s ease 0s;
                            display: block;
                            width: 100%;
                            height: 45px;
                            outline: none;
                            background: #FFF;
                            color: darken(#16a085, 30);
                            font: $input-size + /19px "Open Sans", Helvetica, Arial, sans-serif;
                            padding: 8px 10px;
                            transition: all .2s;
                            &:focus {
                                box-shadow: 0px 0px 5px rgba(0, 0, 0, .3);
                            }
                        }
                        input[type=email] {
                            padding-right: 43px;
                        }
                    }
                }
            }
        }
    }
    table {
        margin-bottom: 28px;
        border-collapse: collapse;
        width: 100%;
        font: $input-size + /19px "Open Sans", Helvetica, Arial, sans-serif;
        thead {
            background-color: #16a085;
            color: #FFF;
            tr {
                th {
                    padding: 10px;
                    text-align: left;
                    a {
                        color: #FFF;
                        font-size: 18px;
                        text-decoration: none;
                        &.under {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        tbody {
            tr {
                &:hover td {
                    background-color: #16a085;
                    cursor: default;
                }
                td {
                    box-shadow: inset 0 -1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(0, 0, 0, 0.25);
                    background-color: #1abc9c;
                    font-size: 16px;
                    padding: 10px;
                    color: #fff;
                    &:last-child {
                        padding-right: 10px !important;
                    }
                    &.options {
                        &.a {
                            border-left: 2px solid rgba(0, 0, 0, 0.25);
                            padding-right: 10px;
                            padding-left: 10px;
                        }
                        padding: 0;
                        text-align: center;
                        a {
                            display: block;
                            font-size: 22px;
                            i {
                                color: #FFF !important;
                            }
                        }
                    }
                }
            }
        }
    }
}
.navbar {
    $height: 50px;
    width: 100%;
    background: darken(#16a085, 10);
    height: $height;
    display: table;
    position: relative;
    &.navbar-top {}
    form {
        position: absolute;
        right: 8px;
        top: 8px;
        input {
            display: inline-block;
            float: left;
        }
        input[type=text] {
            border: medium none;
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
            display: block;
            width: 100%;
            height: 35px;
            outline: medium none;
            background: #FFF none repeat scroll 0% 0%;
            color: #041915;
            font: 17px/19px "Open Sans", Helvetica, Arial, sans-serif;
            padding: 8px 10px;
            transition: all 0.2s ease 0s;
        }
    }
    ul {
        display: table-cell;
        vertical-align: middle;
        list-style-type: none;
        text-align: center;
        li {
            display: inline-block;
            a {
                padding: 5px 10px;
                display: block;
                border-radius: 10px;
                color: #FFF;
                font-size: 18px;
                text-decoration: none;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
.text-danger {
    color: #e74c3c;
    color: #fff;
}
.text-warning {
    color: #9b59b6;
    color: #fff;
}
::-webkit-input-placeholder {
    font-size: $input-size;
}
:-moz-placeholder {
    font-size: $input-size;
}
::-moz-placeholder {
    font-size: $input-size;
}
:-ms-input-placeholder {
    font-size: $input-size;
}
