.form {
    background: lightblue;
    display: inline-block;
    width: 250px;
    padding: 20px;
    border: 3px solid red;
}
.title {
    font-weight: bold;
    border-bottom: 2px solid red;
}
input[type=button] {
    display: block
}
